html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
#banner {
    width: 100%;
    border-top: 4px solid seagreen;
    border-bottom: 4px solid seagreen;
}
#middle-body {
    width: 1200px;
    margin: 20px auto;
    text-align: center;
}
#search-box {
    display: inline-block;
    border: 1px solid yellowgreen;
    width: 700px;
    height: 50px;
    line-height: 52px;
    vertical-align: middle;
    margin-left: 10px;
}
#search-box input {
    border: unset;
    height: 30px;
    width: 630px;
    /* border: 1px sold black; */
    font-size: 20px;
}
#search-box input:focus {
    outline: unset;
}
#search-box button {
    border: none;
    background-color: unset;
}
#search-box button:hover {
    cursor: pointer;
}
#search-box button:focus {
    outline: unset;
}
#search-icon-anchor {
    text-decoration: none;
}
#search-logo {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}
#search-button {
    vertical-align: middle;
    padding: 0;
}

#button-search-img {
    width: 32px;
    height: 32px;
}

#search-suggest-box {
    margin-top: -2px;
    background: #fff;
    display: none;
}
#search-suggest-box ul {
    /* border: 1px solid black;
    padding: 7px 0 13px; */
    margin: 0;
}
#search-suggest-box ul.add-box {
    border: 1px solid yellowgreen;
    padding: 0;
}
#search-suggest-box ul li {
    /* border-bottom: 1px solid silver; */
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    text-align: left;
}
#search-suggest-box ul li:first-child {
    padding-top: 7px;
}
#search-suggest-box ul li:last-child {
    padding-bottom: 13px;
}
#search-suggest-box ul li:hover {
    background-color: #f6f6f6;
}